body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-family: 'Baloo Paaji 2', cursive; */
  font-family: 'Poppins', cursive;
  background: white;
  color: black;
  /* -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;*/
  overflow: auto ;
  width: 100%
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  /* font-family: 'Mukta', sans-serif; */
  margin-top: 0px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  box-sizing: border-box
}
